*{
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.back-to-main{
    display: block;
    margin: 20px;
    width: max-content;
}
body{
    background: #f5f5f5;
}

.card{
    max-width: 500px;
    width: 100%;
    background: white;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.07);
}

.card .favorite {
    text-align: right;
}

.card .favorite a {
    text-decoration: none;
}

.card img{
    width: 100%;
}

.card h3{
    margin: 16px 0px;
    font-size: 20px;
    text-align: center;
}

.card .info{
    line-height: 1.2;
    margin: 16px;
}

.card .price{
    color: #2c3e50;
    font-size: 24px;
    font-weight: bold;
}
.card .old-price{
    color: #e74c3c;
    font-size: 16px;
    text-decoration: line-through;
}

.card button{
    background:linear-gradient(to right,green,red);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    filter: brightness(.6);
}